.paper-comment {
  display: table-cell; 
  /* display: none; */
}

.paper-comment-head {
max-width:35%;
overflow-wrap:break-word;
}

.paper-name{
}

.paper-name-head{
  min-width:40%;
  overflow-wrap:break-word;
}

.paper-title {
  /* font-weight:600; */
}

.paper-coauthors {
  /* font-size: 0.8em; */
  font-size: 12px;
}
